* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div {
  background-color: #e0e0e0;
  overflow: hidden;
}
div#content #grid1 {
  top: 20px;
  width: 200px;
  height: 200px;
}
div#content #grid2 {
  top: -180px;
  left: 300px;
  width: 500px;
  height: 200px;
}
