@model AngularNet.Models.IndexModel

<!DOCTYPE html>

<html>
<head>
    @Html.Raw(Model.Styles.Html)
    @Html.Raw(Model.Scripts.Html)
</head>
<body>
<div>
    <!-- Angular Entry Point -->
    <app></app>
</div>
</body>
</html>
