<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="art/favicon.ico" type="image/x-icon" rel="icon">
    <link href="art/favicon.ico" type="image/x-icon" rel="shortcut icon">
  </head>
  <body>
    <app>Loading...</app>
    <script type="text/javascript">
        (function() {
            if(!window.hasOwnProperty("app")) window.app = {};
            window.app.settings = {
                version: "<%= htmlWebpackPlugin.options.version %>",
                service: "http://overview.logikos.com/OverviewHealthServiceNode/"
            };
        })();
    </script>
  </body>
</html>
